@use "../../globals/variables";

.detail-section {
  padding-left: 1rem;
  padding-right: 1rem;

  &_box {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
  }

  &_skills {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    &--text {
      margin-top: 2.4rem;
      color: variables.$primary-color--extra;
    }

    &--buttons {
      display: flex;
      flex-direction: column;
      gap: 4rem;
    }
  }

  &_images {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    gap: 3.2rem;
    height: 200px;
    width: 100%;

    margin-bottom: 6.4rem;

    position: relative;

    &-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &--button {
      cursor: pointer;
      position: absolute;
      z-index: 2;
      top: 50%;
      transform: translateY(-50%);
      display: block;

      background: none;
      border: none;

      border-radius: 0.25rem;
      color: rgba(255, 255, 255, 0.5);
      background-color: rgba(0, 0, 0, 0.1);

      &:hover,
      &:focus {
        color: white;
        background-color: rgba(0, 0, 0, 0.2);
      }

      &:focus {
        outline: 1px solid black;
      }

      &-prev {
        left: 1rem;
      }

      &-next {
        right: 1rem;
      }
    }

    &--image {
      height: 100%;
      background-size: cover;

      transition: all 0.5s ease-in-out;
    }

    &--heading {
      width: 100%;
      object-fit: cover;
      object-position: top;
    }

    &--dots {
      display: flex;
      justify-content: center;
      padding: 0.5rem 0;

      &-button {
        cursor: pointer;

        &_active {
          color: variables.$primary-color--extra;
        }
      }
    }
  }

  &--heading {
    margin-bottom: 4rem;
  }
}

@media (min-width: 340px) {
  .detail-section {
    &_images {
      height: 220px;
      width: 100%;
    }
  }
}

@media (min-width: 460px) {
  .detail-section {
    &_images {
      height: 360px;
    }
  }
}

@media (min-width: variables.$breakpoint-phone) {
  .detail-section {
    &_images {
      height: 500px;
    }
  }
}

@media (min-width: variables.$breakpoint-tablet) {
  .detail-section {
    padding-left: 10%;
    padding-right: 10%;

    &_subject {
      display: flex;
      align-items: center;
      gap: 6.4rem;
    }

    &_images {
      margin-left: 0;
      margin-right: 0;
      height: 500px;
    }

    &_skills {
      &--text {
        font-size: 2.4rem;
        font-weight: bold;
      }
    }
  }
}

@media (min-width: variables.$breakpoint-desktop) {
  .detail-section {
    &_content {
      display: flex;
      gap: 6.4rem;
    }

    &_subject {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      width: 100%;
      gap: 2.4rem;
    }

    &_images {
      height: 300px;

      &--button {
        display: none;
      }

      &:hover {
        .detail-section_images--button {
          display: block;
        }
      }
      &--heading {
        height: 500px;
      }
    }

    &_skills {
      &--text {
        font-size: 2.4rem;
        font-weight: bold;
      }
    }

    &_box {
      margin-top: 6.4rem;
    }
  }
}

@media (min-width: variables.$breakpoint-desktop--large) {
  .detail-section {
    &_images {
      height: 600px;
      width: 800px;
    }
  }
}
