@use "../globals/mixins";
@use "../globals/variables";

.button {
  width: 20rem;
  display: flex;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
    transition: all 0.3s;
  }

  &_arrow {
    background-color: variables.$primary-color;
    width: 20%;
    height: 4.8rem;

    @include mixins.flexCenter;
  }

  &_text {
    background-color: variables.$primary-color--component;
    @include mixins.flexCenter;
    width: 80%;

    &--style {
      text-transform: uppercase;
      color: white;
      letter-spacing: 2px;
    }
  }
}

@media (min-width: variables.$breakpoint-phone) {
  .button {
    width: 25rem;

    &_text {
      &--style {
        font-size: 1.6rem;
      }
    }
  }
}
