@use "../globals/mixins";
@use "../globals/variables";

.interest {
  @include mixins.flexCenter;
  flex-direction: column;
  gap: 4rem;
  height: calc(100dvh - 375px);

  h2 {
    text-align: center;
  }
}

@media (min-width: variables.$breakpoint-phone) {
  .interest {
    gap: 4.8rem;

    h2 {
      font-size: 4.8rem;
    }
  }
}

@media (min-width: variables.$breakpoint-tablet) {
  .interest {
    height: calc(100dvh - 80px);
  }
}

@media (min-width: variables.$breakpoint-desktop) {
  .interest {
    gap: 6.4rem;
  }
}

@media (max-height: variables.$breakpoint-tablet) and (max-width: variables.$breakpoint-phone) {
  .interest {
    margin-bottom: 1rem;
    gap: 2rem;
    height: calc(100dvh - 375px);

    h2 {
      font-size: 3rem;
    }
  }
}

@media (max-height: variables.$breakpoint-phone) {
  .interest {
    margin-bottom: 1rem;
    gap: 2rem;
    height: 100vh;
    height: 100dvh;

    h2 {
      font-size: 3rem;
    }
  }
}
