@use "../globals/mixins";
@use "../globals/variables";

.navbar {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding-left: 32px;
  padding-right: 32px;
  z-index: 9999;

  &_menu {
    position: absolute;
    top: 104px;
    right: 32px;
    z-index: 9999;

    height: 15rem;
    width: 50vw;
    background-color: variables.$primary-color;
    border-radius: 3px;

    ul {
      color: white;
      height: 100%;

      @include mixins.flexCenter;
      flex-direction: column;
      gap: 3rem;
      padding: 2rem;
    }
  }

  &_link {
    color: variables.$secondary-color--bg;
    font-size: 1.2rem;
    letter-spacing: 2px;
    padding: 1rem;

    &:active,
    &:focus {
      color: variables.$primary-color--extra;
    }
  }

  &_links {
    display: none;
  }
}

@media (min-width: variables.$breakpoint-phone) {
  .navbar {
    &_menu {
      display: none;
    }

    &_toggle {
      display: none;
    }

    &_links {
      display: flex;

      ul {
        display: flex;
        gap: 4.2rem;
        letter-spacing: 2px;
      }
    }

    &_link {
      color: variables.$primary-color;

      &:hover {
        color: variables.$primary-color--extra;
      }

      &--active {
        color: variables.$primary-color--extra;
      }
    }
  }
}

@media (min-width: variables.$breakpoint-desktop) {
  .navbar {
    padding-left: 10%;
    padding-right: 10%;

    &_link {
      font-size: 1.6rem;
    }
  }
}
