@use "../../globals/variables";
@use "../../globals/mixins";

.home {
  position: relative;
  padding-left: 3.2rem;
  padding-right: 3.2rem;

  display: flex;

  flex-direction: column;

  &_absolute {
    @include mixins.flexCenter;
    background-color: variables.$secondary-color--bg;
    border: 1px solid variables.$secondary-color--text-field;
    border-radius: 9999px;
    height: 6rem;
    width: 6rem;
    position: fixed;
    bottom: 10%;
    right: 5%;
    cursor: pointer;

    &--icon {
      height: 4rem;
      width: 4rem;
    }
  }

  &_scroll {
    @include mixins.flexCenter;
    border: 1px solid variables.$secondary-color--text-field;
    border-radius: 9999px;
    min-height: 6rem;
    width: 6rem;

    &:hover {
      transition: all 0.3s;
      transform: scale(1.2);
    }

    &:active {
      background-color: variables.$secondary-color--text-field;
    }
    &--icon {
      cursor: pointer;
      height: 4rem;
      width: 4rem;
    }
  }
}

.hero {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 6.4rem;

  height: calc(100vh - 104px);
  height: calc(100dvh - 104px);

  h1 {
    font-size: 4rem;
  }
}

.about {
  @include mixins.flexCenter;
  flex-direction: column;
  gap: 3.2rem;
  height: 100vh;
  height: 100dvh;

  h2 {
    font-size: 4rem;
  }

  &_text {
    font-size: 1.6rem;
    line-height: 30px;
  }
}

.skills {
  @include mixins.flexCenter;
  gap: 3.2rem;
  flex-direction: column;
  height: 100vh;
  height: 100dvh;
}

@media (min-width: variables.$breakpoint-phone) {
  .hero {
    h1 {
      font-size: 5.6rem;
    }
  }

  .about {
    gap: 4.8rem;

    h2 {
      font-size: 4.8rem;
    }

    &_text {
      font-size: 1.8rem;
      line-height: 30px;
    }
  }
  .skills {
    gap: 4.8rem;

    h2 {
      font-size: 4.8rem;
    }
  }
}

@media (min-width: variables.$breakpoint-desktop) {
  .home {
    padding-left: 20%;
    padding-right: 20%;
  }

  .skills {
    gap: 4.8rem;

    h2 {
      font-size: 5.6rem;
    }
  }
}
