@use "../../globals/variables";
@use "../../globals/mixins";

.home {
  position: relative;
  padding-left: 3.2rem;
  padding-right: 3.2rem;

  display: flex;

  flex-direction: column;

  &_visible {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.5s ease;
  }

  &_invisible {
    opacity: 0;
    transform: translateY(100px);
  }

  &_absolute {
    @include mixins.flexCenter;
    background-color: variables.$secondary-color--bg;
    border: 1px solid variables.$secondary-color--text-field;
    border-radius: 9999px;
    height: 6rem;
    width: 6rem;
    position: fixed;
    bottom: 10%;
    right: 5%;
    cursor: pointer;

    &--icon {
      height: 4rem;
      width: 4rem;
    }
  }

  &_scroll {
    @include mixins.flexCenter;
    border: 1px solid variables.$secondary-color--text-field;
    border-radius: 9999px;
    min-height: 6rem;
    width: 6rem;
    cursor: pointer;

    &:hover {
      transition: all 0.3s;
      transform: scale(1.2);
    }

    &:active {
      background-color: variables.$secondary-color--text-field;
    }
    &--icon {
      height: 4rem;
      width: 4rem;
    }
  }
}

.hero {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 6.4rem;

  height: calc(100vh - 104px);
  height: calc(100dvh - 104px);

  &_box {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    margin-bottom: 6.4rem;
  }

  &_image {
    width: 100%;
    object-fit: cover;
  }

  &_text {
    color: variables.$primary-color--extra;
    font-weight: 700;
  }

  &_heading-primary {
    font-size: 4rem;
    font-weight: 700;
  }

  &_heading-secondary {
    font-weight: bold;
    color: variables.$primary-color--component;
    opacity: 0.8;
  }
}

.about {
  @include mixins.flexCenter;
  flex-direction: column;
  gap: 3.2rem;
  margin-bottom: 6.4rem;
  padding-left: 10%;
  padding-right: 10%;

  h2 {
    font-size: 4rem;
  }

  &_box {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }

  &_text {
    font-size: 2.4rem;
    background-color: variables.$primary-color--extra;
    padding: 2rem;
    border-radius: 5px;
  }

  &_text--more {
    font-size: 1.4rem;
    line-height: 25px;
    margin-bottom: 1.6rem;
  }
}

.skills {
  @include mixins.flexCenter;
  gap: 3.2rem;
  flex-direction: column;
  margin-bottom: 6.4rem;
}

@media (min-width: variables.$breakpoint-phone) {
  .hero {
    h1 {
      font-size: 5.6rem;
    }
  }

  .about {
    gap: 4.8rem;

    h2 {
      font-size: 4.8rem;
    }

    &_text--more {
      font-size: 1.6rem;
      line-height: 25px;
    }
  }
  .skills {
    gap: 4.8rem;

    h2 {
      font-size: 4.8rem;
    }
  }
}

@media (min-width: variables.$breakpoint-tablet) {
  .about {
    &_box {
      display: flex;
      align-items: center;
      flex-direction: row;
      gap: 3.2rem;
    }

    &_text {
      width: 100%;
    }
    &_text--more {
      width: 100%;
    }
  }
}

@media (min-width: variables.$breakpoint-desktop) {
  .home {
    padding-left: 10%;
    padding-right: 10%;
  }

  .hero {
    &_box {
      flex-direction: row;
      gap: 6.4rem;
      margin-bottom: 6.4rem;
      height: 60vh;

      &--text {
        position: absolute;
        bottom: 0;
        background-color: variables.$secondary-color--bg;
        padding: 2.4rem;
        border-top-right-radius: 10px;
      }
    }
  }

  .skills {
    gap: 4.8rem;

    h2 {
      font-size: 5.6rem;
    }
  }
}

@media (min-width: variables.$breakpoint-desktop--large) {
  .hero {
    h1 {
      font-size: 7.2rem;
    }
  }
}

@media (max-height: variables.$breakpoint-phone) {
  .home {
    gap: 6.4rem;
  }

  .about {
    gap: 1rem;
    &_text--more {
      font-size: 1.2rem;
      line-height: 20px;
    }
  }

  .skills {
    gap: 1.6rem;
  }
}

@media (max-height: variables.$breakpoint-phone--small) {
  .home {
    gap: 6.4rem;
  }

  .hero {
    h1 {
      font-size: 2.8rem;
      line-height: 1.3;
    }
  }

  .about {
    &_text--more {
      font-size: 1.2rem;
      line-height: 20px;
    }
  }

  .skills {
    gap: 0.8rem;

    h2 {
      font-size: 3.6rem;
    }
  }
}

@media (min-height: variables.$breakpoint-phone) {
  .about {
    &_text--more {
      font-size: 1.4rem;
      line-height: 25px;
    }
  }
}
